.title{
    margin-top: 4.5vh;
    width: 100%;
    height: 7vh;
    background-color: #3d3d58c0;
    color: white;
    text-align: center;
}

/* 左上半部 */
.up{
    display: flex;
    justify-content: space-between;
}

.up1 img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    /* position: absolute; */
}

.up2 img{
    width: 700px;
    height: 400px;
    object-fit: cover;
    /* position: absolute; */
}

/* 左下半部 */
.down{
    display: flex;
    justify-content: space-between;
}
.down img{
    width: 360px;
    height: 360px;
    object-fit: cover;
}

/* 右半部收藏文章 */
.news_part{
    margin-top: 4vh;
    width: 100%;
    height: 2350px;
    background-color: #242e532a;
    border-radius: 20px 20px 0 0;
}

.news_part i{
    display: inline-block;
    color: #f79584;
    font-size: 90px;
    margin-left: 430px;
}

.mainnews_text{
    color: white;
    padding: 0 0 10px 50px;
}

.main_news img{
    width: 450px;
    display:block;
    margin:auto;
}

.mainnews_text h5{
    display: inline-block;
    width: 450px;
    padding: 20px 20px 0 20px;
}

/* 新聞列表 */
.other_news{
    margin-top: 20px;
}

.news_card{
    background-color: #ffffff80;
    width: 450px;
    height: 580px;
    display:block;
    margin:20px auto;
}

.news_card h4{
    padding-top: 10px;
    text-align: center;
    line-height: 36px;
    color: #454545;
}

.news_card img{
    width: 100%;
}

.news_card_text p{
    display: inline-block;
    width: 450px;
    padding: 20px 20px 0 20px;
    color: #888888;
}

/* 日曆 */
.review_card{
    display:block;
    margin:20px auto;
    width: 450px;
    height: 400px;
    background-color: #ffffff80;
    border-radius: 20px;
}

.review_card h4{
    color: #9393a2;
    padding: 10px 0 0 20px;
}

* {box-sizing:border-box;}
ul {list-style-type: none;}
body {font-family: Verdana,sans-serif;}

.month {
    padding: 20px 25px;
    width: 100%;
    background: #FFFFFF;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ffffff;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #9393a2;
    text-align: center;
}

.days {
    padding: 10px 10px;
    background: #ffffff;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    padding: 15px 10px;
    font-size:16px;
    background: #9393a2;
    color:white;
    border-radius: 5px;
}

li.active {
    /* padding: 5px; */
    background: #f79584;
}

/* Add media queries for smaller screens */
@media screen and (max-width:1920px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}

/* 左上遮罩 */
.art1{
    position: relative;
}

.layer1{
    width: 400px;
    height: 200px;
    background-color: #00000048;
    position: absolute;
    top: 10px;
    }

.layer_text{
    margin: 0 auto;
    display: block;
    width: 300px;
    color: #dedede;
    padding-top: 20px;
}

.layer_text h4{
    text-align: center;
    color: white;
}

/* 卡片底部 */
.card_down{
    display: flex;
    justify-content: space-between;
}

.card_down i {
    color: tomato;
}



/* 遮罩
.layer2{
    margin-top: 160px;
    width: 400px;
    height: 50%;
    background-color: teal;

} */
